<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
	<header th:replace="layout/layout::header"></header>
	
	<div class="container  py-4">
		<div class="card bg-danger">
			<div class="card-header"> Access Denied</div>
				
			<div class="card-body">
				<h5 class="card-title"><span th:text="${#authentication.name}"></span> has not been granted permissions to this resource</h5>
				<a th:href="@{/greet}" class="btn btn-outline-light" role="button">Go to Home page</a>
			</div>
		</div>

	</div>
	
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>