<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
	<header th:replace="layout/layout::header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" >
				<h1 class="text-center" th:text="${title}"></h1>
			</div>
			<div class="card-body">
				<div class="container">
					<div th:object="${client}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
							role="alert">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
						</ul>
					</div>
					<form th:action="@{/form}" th:object="${client}" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="name">Name</label> <input type="text"
								th:field="*{name}" class="form-control" id="name"
								placeholder="Enter Name"
								th:errorClass="'form-control alert-danger'" /> <small
								class="text-danger" th:if="${#fields.hasErrors('name')}"
								th:errors="*{name}"></small>
						</div>

						<div class="form-group">
							<label for="last_name">Last Name</label> <input type="text"
								th:field="*{lastName}" class="form-control" id="last_name"
								placeholder="Enter Last Name"
								th:errorClass="'form-control alert-danger'" /> <small
								class="text-danger" th:if="${#fields.hasErrors('lastName')}"
								th:errors="*{lastName}"></small>
						</div>

						<div class="form-group">
							<label for="email">Email</label> <input type="text"
								th:field="*{email}" class="form-control" id="email"
								placeholder="Enter Email"
								th:errorClass="'form-control alert-danger'" /> <small
								class="text-danger" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></small>
						</div>
						<div class="form-group">
							<label for="image">Photo</label> 
							<input type="file" name ="file"
								class="form-control"
								 id="image" /> 
						</div>
						<button type="submit" class="btn btn-primary" th:text="${button}"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>